<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fd.goraebang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLaunchScreen_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMain_" />
        <activity android:name=".account.ActivityAccountLogin_" android:theme="@style/AppThemeBlack"/>
        <activity android:name=".account.ActivityAccountRegister_" android:theme="@style/AppThemeBlack"/>
        <activity android:name=".main.ActivitySongDetail_"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0b3bc1a8787033fe9f36beaef0693659b1568ee7" />
    </application>
</manifest>